* {
  box-sizing: border-box;
}

body {
  background: #e3e8f9 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
}

body,
html,
.App,
.vue-template,
.vertical-center {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

.bg {
  position: absolute;
  background-repeat: no-repeat;
  width: 512px;
  height: 384px;
  left: 40%;
  top: 50%;
  background-image: url("../logo.png");
  opacity: 0;
  animation: slideRight ease .4s forwards .6s;
}
@keyframes slideRight {
  0% {transform: translate(-60%, -50%); opacity:0;}
  100% {transform: translate(-50%, -50%); opacity:1;}
}

.sidebar {
  width: 30%;
  height: 100%;
  position: absolute;
  right: 0%;
  background-color: #ffffff;
  opacity: 0;
  z-index: 1;
  animation: slideLeft ease .6s forwards .6s;
}
@keyframes slideLeft {
  0% {transform: translateX(100px); opacity:0;}
  100% {transform: translateX(0px); opacity:1;}
}

.side-form {
  padding:20%;
  margin-top: 15%;
}

.carrd {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navbar-light {
  background-color: #ffffff;
}

.vertical-center {
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;
}

.inner-block {
  width: 4500px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.vertical-center .form-control:focus {
  border-color: #2554FF;
  box-shadow: none;
}

.vertical-center h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

label {
  font-weight: 500;
}